<div class="span4">
	<div class="usp-img">
		<%= image_tag(image+".png", :alt => "box", :width => 65, :height => 65) %>
	</div>

	<%= image_tag("check_icon.png", :alt => "box", :width => 15, :height => 15) %>
	<%= text %>
</div>