<div class="span4">
	<figure>
		<div class="usp-img">
			<%= image_tag(image+".png", :alt => "box", :width => 50, :height => 50) %>
		</div>
		<figcaption>
			<%= image_tag("check_icon.png", :alt => "box", :width => 15, :height => 15) %>
			<%= text %>
		</figcaption>
	</figure>
</div>