<div class="landing">
	<div class="container">
		<% if user_signed_in? %>
			<%= render :partial => "shared/ask_question" %>
		<% else %>
			<%= render :partial => "shared/usp_menu" %>
		<% end %>
	</div>
</div>

<div class="questions">
	<div class="container">
		<div class="row">
			<div class="span2 answered">
				x vragen beantwoord
			</div>
			<div class="span2 offset8 filter">
				<select>
					<option>Beoordeling</option>
					<option>Beoordeling</option>
					<option>Beoordeling</option>
				</select>
			</div>
		</div>
		<div class="row latest-questions">
			<%# <%= fetch_latest_questions %>
		</div>
	</div>
</div>