/* =========================================================== *\
|* Q&A Bubble - basics
\* =========================================================== */
.q-a-bubble {
	.user-info {
		padding: 5px 0 5px 15px;
		border-bottom: 1px solid $grey;
		font-weight: 800;

		.level {
			font-weight: normal;
			font-size: 12px;
			padding-left: 5px;
		}
		.aspirant-level {
			color: $font-color;
		}
		.beginner-level {
			color: #57aab9;
		}
		.kenner-level {
			color: #FFF;
		}
		.vakman-level {
			color: #FFF;
		}
		.expert-level {
			color: #FFF;
		}
		.master-level {
			color: darken(#ffde97, 20%);
		}

		.created-at {
			font-weight: normal;
			padding-right: 10px;
		}
	}
	.q-a-description {
		padding: 10px 15px;

		h1 {
			font-size: 22px;
			font-weight: bold;
			margin: 0;
		}

		.detail {
			word-wrap: break-word;
		}
	}
	.q-a-options {
		padding: 5px 15px;
		border-top: 1px solid $grey;
	}
}

/* =========================================================== *\
|* Question bubble
\* =========================================================== */
.question {
	padding: 30px 0;

	.asked-question {
		margin-bottom: 50px;
		background: $white;
		@include rounded-corner(2px);
		@include box-shadow;

		.question-labels {
			text-align: center;
			padding: 0 15px;
	
			.question-label {
				padding: 5px 0;
			}

			.label-border {
				border-right: 1px solid $grey;		
			}
		}
	}
}

/* =========================================================== *\
|* Answer form
\* =========================================================== */
.answer-form {
	background: $blue;
	padding: 20px 0;

	textarea {
		resize: none;
		border-radius: 4px 4px 0 0;
		margin-bottom: 0px;
	}

	.add_company_modal {
		@include rounded-corner(3px);
		background: $white;
		border: none;

		.select-company {
			text-align: center;
			
			ul {
				border-radius: 4px 4px 0 0;
				border-color: #D6D6D6;
				box-shadow: none;

				input{
					box-shadow: none;
				}
			}
			div {
				margin: 0;
			}
		}

		input {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}
		button {
			height: 33px;
		}
		.modal-footer {
			background: $blue;
			border: none;
			-webkit-border-radius: 0 0 3px 3px;
			-moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
		}
		.close-modal {
			float: right;
			margin-right: 20px;
			width: 120px;
			padding: 0;
			@include rounded-corner(3px);
			color: $white;
			border: 1px solid rgba(154,50,44,0.4);
			background: $red;
		}
	}

	.buttons {

		button, .button {
			background: $white;
			float: left;
			border: 1px solid #ccc;
			border-top: none;
			height: 40px;
			width: 233px;

			img {
				margin-right: 10px;
			}
		}

		button:hover, input[type=submit]:hover {
			background: darken($white, 5%);
		}

		:first-child {
			border-right: none;
			border-bottom-left-radius: 4px;
		}
		:last-child {
			border-bottom-right-radius: 4px;
			border-left: none;
		}
	}

	input[type="submit"] {
		margin-top: 10px;
		margin-right: 100px;
		width: 85px;
		height: 33px;
		@include rounded-corner;
		border: none;
		color: $white;
		@include gradient;
	}
}

/* =========================================================== *\
|* Answer filter bar
\* =========================================================== */
.filter-bar {
	padding: 10px 0 5px 0;
	height: auto;
	border-bottom: 1px solid #BCBCBC;
	font-size: 16px;
}

/* =========================================================== *\
|* Answer (and comment) bubbles
\* =========================================================== */
.answers {
	padding: 30px 0;

	.answer-bubble {
		background: $white;
		@include rounded-corner;
		@include box-shadow;

		.company-info {
			background: darken($white, 2%);
			border-top: 1px solid darken($white, 5%);
			padding: 10px 10px;

			p {
				margin: 8px 0;

				img {
					padding-right: 5px;
				}

				.company_webshop {
					text-decoration: underline;
					color: $font-color;
				}
			}
		}

		.actions {
			padding-top: 5px;
			padding-bottom: 5px;

			.like {
				padding-right: 10px;
			}

			.comment {
				padding-left: 10px;
			}
		}
	}
	.comments {
		padding: 10px 0;

		.comment-bubble {
			background: $white;
			@include rounded-corner;
			@include box-shadow;
		}
	}
}