.question {
	padding: 30px 0;

	.asked-question {
		margin-bottom: 50px;
		background: $white;
		@include rounded-corner(2px);
		@include box-shadow;

		.user-info {
			padding: 5px 0 5px 15px;
			border-bottom: 1px solid $grey;
			font-weight: 800;

			.level {
				font-weight: normal;
				font-size: 12px;
				padding-left: 5px;
			}

			.created-at {
				font-weight: normal;
				padding-right: 10px;
			}
		}

		.question-details {
			border-bottom: 1px solid $grey;
			padding: 0 0 10px 15px;

			h1 {
				font-size: 22px;
				font-weight: bold;
			}
		}

		.question-labels {
			text-align: center;
	
			.question-label {
				padding: 5px 0;
			}

			.label-border {
				border-right: 1px solid $grey;		
			}
		}
	}

	.answer-form {
		background: $blue;
		padding: 20px 0;

		textarea {
			resize: none;
			border-radius: 4px 4px 0 0;
			margin-bottom: 0px;
		}

		.buttons {

			button, .button {
				background: $white;
				float: left;
				border: 1px solid #ccc;
				border-top: none;
				height: 40px;
				width: 233px;

				img {
					margin-right: 10px;
				}
			}

			button:hover, input[type=submit]:hover {
				background: darken($white, 5%);
			}

			:first-child {
				border-right: none;
				border-bottom-left-radius: 4px;
			}
			:last-child {
				border-bottom-right-radius: 4px;
				border-left: none;
			}
		}

		input[type="submit"] {
			margin-top: 10px;
			margin-right: 100px;
			width: 85px;
			height: 33px;
			@include rounded-corner;
			border: none;
			color: $white;
			@include gradient;
		}
	}

	.filter-bar {
		border-bottom: 1px solid $grey;
	}
}