@mixin rounded-corner($amt: 5px) {
	-webkit-border-radius: $amt;
	-moz-border-radius: $amt;
	border-radius: $amt;
}

@mixin profile-border($color: $white) {
	@include rounded-corner;
	border: 4px solid $color;
}

@mixin gradient($color1: #F66D70, $color2: #C24645) {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
	background-image: -moz-linear-gradient(0% 0% 270deg, $color1, $color2);
}

@mixin box-shadow {
	box-shadow: 3px 3px 4px 0 #e0dfdf;
}