$blue: #65A4AF; //#68A7B3
$white: #FCFCFC;
$grey: #ECEBEB;
$red: #D74742; //#C7403A
$font-color: #626262;

// $blue: #68A6B2;
// $white: #FCFCFC;
// $grey: #ECEBEB;
// $red: #DF655F;
// $font-color: #8A8A8A;