<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<ul class="span3">
					<li><a class="nav-item" href="#">Vragen</a></li>
					<li><a class="nav-item" href="#">Bedrijven</a></li>
				</ul>

				<span class="span4 offset5">
					<%= image_tag("mail.png", :alt => "Mail", :width => 30, :height => 30, :class => "contact" ) %>
					<%= image_tag("googleplus.png", :alt => "Mail", :width => 30, :height => 30, :class => "contact" ) %>
					<%= image_tag("twitter.png", :alt => "Mail", :width => 30, :height => 30, :class => "contact" ) %>
					<%= image_tag("facebook.png", :alt => "Mail", :width => 15, :height => 30, :class => "contact" ) %>

					<div id="clearfix"></div>
				</span>
			</div>
		</div>
	</div>
</footer>