<header>
	<div class="navigation">
		<div class="container">
			<nav class="row">
				<div class="span2 logo-placeholder"></div>
				<a class="nav-item span1" href="#">Vragen</a>
				<a class="nav-item span2" href="#">Bedrijven</a>
				
				<form class="span3 offset2" method="post">
					<input type="text" class="nav-search" name="search" />
				</form>

				<div class="span1">
					<div class="profile-border">
						<img src="" height="25" width="25" />
					</div>
				</div>
				<div class="span1">
					Edit
				</div>
			</nav>
		</div>
	</div>
</header>