<header>
	<div class="navigation">
		<div class="container">
			<nav class="row">
				<div class="span2 logo-placeholder"></div>
				
				<ul class="span3">
					<li><a class="nav-item" href="#">Vragen</a></li>
					<li><a class="nav-item" href="#">Bedrijven</a></li>
				</ul>

				<form class="span3 offset2" method="post">
					<input type="text" class="nav-search" name="search" />
					<i class="icon-search icon-large"></i>
				</form>

				<% if user_signed_in? %>
					<div class="span1">
						<div class="profile-border">
							<img src="" height="25" width="25" />
						</div>
					</div>
					<div class="span1">
						<%= link_to image_tag("edit_cog.png", :alt => "box", :width => 20, :height => 20, :class => "edit-cog"), destroy_user_session_path, :method => :delete %>
					</div>
				<% else %>
					<div class="span2 login">
						<%= link_to "Log in", new_user_session_path %>
					</div>
				<% end %>
			</nav>
		</div>
	</div>
</header>